---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Colin Thompson">
	<header class="px-6">
		<h1>Colin Thompson</h1>
		<ul class="my-2">
			<li>Web Developer</li>
			<li>Full-Stack Developer</li>
			<li>Front-End Developer</li>
		</ul>
		<ul class="my-2">
			<li>519.980.2710</li>
			<li>thompsoncolinm@gmail.com</li>
			<li>Cambridge, ON</li>
		</ul>

		<p><a href="https://www.linkedin.com/in/colin-thompson-06b87249" target="_blank">LinkedIn</a></p>

	</header>
	<main>
		<h2>Home</h2>
		<p>Welcome to my website!</p>
		<p>It's a work in progress, but I'm excited to share it with you.</p>
		<p>Check back soon for more updates!</p>
	</main>
</Layout>

<style>
	header {
		background-color: red;
		width: 100%;
		position: fixed;
		top: 0;
		height: 260px;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		align-items: center;
		justify-items: center;
		text-align: center;
		overflow: hidden;
		& ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: 0 1rem;

		}
	}
	main {
		background-color: blue;
		min-height: 100vh;
		padding-top: calc(260px + 2rem);
	}
</style>
