---
import Layout from "../layouts/Layout.astro";
import AreasOfExpertise from "../components/AreasOfExpertise.astro";
import ProfessionalExperience from "../components/ProfessionalExperience.astro";
import Education from "../components/Education.astro";
import Certifications from "../components/Certifications.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Colin Thompson">
	<header class="max-w-screen-xl left-1/2 -translate-x-1/2 px-6 pt-2">
		<div class="w-full border-b-4 border-black">
			<h1 class="text-left">Colin Thompson</h1>
		</div>
		<button class="nav-toggle md:hidden before:flex before:hidden">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<line x1="3" y1="12" x2="21" y2="12"></line>
				<line x1="3" y1="6" x2="21" y2="6"></line>
				<line x1="3" y1="18" x2="21" y2="18"></line>
			</svg>
		</button>
		<ul class="job-titles my-2 hidden md:flex flex-row gap-8 top-0">
			<li>Web Developer</li>
			<li>Full-Stack Developer</li>
			<li>Front-End Developer</li>
		</ul>
		<nav class="relative">
			<ul class="nav-menu my-2 flex hidden md:flex flex-col items-start md:flex-row md:justify-center md:gap-16">
				<li><a href="#areas-of-expertise">Areas Of Expertise</a></li>
				<li><a href="#professional-experience">Professional Experience</a></li>
				<li><a href="#education">Education</a></li>
				<li><a href="#certifications">Certifications</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main class="max-w-screen-xl mx-auto">
		<AreasOfExpertise />
		<ProfessionalExperience />
		<Education />
		<Certifications />
		<Contact />
	</main>
</Layout>

<style>
	header {
		width: 100%;
		position: fixed;
		min-height: var(--header-height);
		top: 0;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		align-items: center;
		justify-items: center;
		text-align: center;
		overflow: hidden;
		border-bottom: 1px solid var(--wenge);
		background-color: white;
		color: var(--eerie-black);
		& button {
			grid-column-start: 2;
			&::before {
				content: "";
				background-image: url(../images/x-icon.svg);
				position: absolute;
				height: 24px;
				width: 24px;
				background-color: white;

			}
		}
		.job-titles {
			& li{
				font-size: 1.2rem;

				&:not(:first-child) {
					list-style-type: disc;
				}
			} 
		}
		& nav {
			width: 100%;
			-ms-grid-column-span: 2;
			& .nav-menu li {
				width: 100%;
				a {
					display: block;
					position: relative;
					width: 100%;
					text-align: right;
					z-index: 20;
					@media screen and (min-width: 960px) {
						&::before {
							content: "";
							position: absolute;
							background-color: var(--wenge);
							bottom: 0;
							width: 2rem;
							height: 2px;
							z-index: -1;
						}
						&:hover {
							&::before {
								background-color: var(--cordovan);
							}
						}
					}	
				}
			} 
		}
	}
	main {
		min-height: 100vh;
		padding-top: calc(var(--header-height) + 2rem);
	}
</style>
