---
import Section from "../layouts/Section.astro"
---

<Section idName="areas-of-expertise" header="Areas Of Expertise">
    <p>
        <strong>Soft Skills:</strong> Relationship building, collaboration,
        multitasking, deadline driven, oral/written communication, creative
        problem solving, skill development, coaching and training, strategic
        planning, best practices, website optimization, code review,
        debugging code, responsive web design, web animation, a11y standards
    </p>
    <p><strong>Hard Skills</strong></p>
    <ul>
        <li><strong>Programming:</strong><span> JavaScript, Python, PHP, C#</span></li>
        <li><strong>Web Technologies:</strong><span> Document Object Model (DOM), HTML5, CSS3, JavaScript</span></li>
        <li><strong>Frameworks/Libraries:</strong><span> Sass, Tailwind, Bootstrap, Typescript, jQuery, React, NextJS, Gatsby, GSAP, Astro, Laravel</span></li>
        <li><strong>Database Management:</strong><span> SQL, MongoDB, MySQL, PostgreSQL</span></li>
        <li><strong>CMS:</strong><span> Wordpress, Wagtail</span></li>
        <li><strong>Design:</strong><span> Figma, Photoshop, Illustrator</span></li>
    </ul>
</Section>

<style>
    .tech-skills {
        list-style-type: disc;
        padding-left: .5rem;
        & li {
            margin-left: 1rem;
        }
        & ul {
            list-style-type: circle;
            padding-left: 1rem;
            & ul {
                list-style-type: square;
                padding-left: 1rem;
            }
        }
    }
</style>