---
import Section from "../layouts/Section.astro"
---

<Section idName="certifications" header="Certifications">
    <table>
        <tbody>
            <tr>
                <td>
                    <p>LinkedIn Learning</p>
                    <p>
                        https://www.linkedin.com/in/colin-thompson-06b87249/details/certifications/
                    </p>
                    <p>
                        Relevant Coursework: React.js Essential Training,
                        JavaScript and JSON, Responsive CSS with Sass and
                        Compass, Design the Web: Graphics and CSS
                        Pseudo-Elements, Design the Web: Pie Charts with
                        CSS, Up and Running with MySQL Development,
                        JavaScript: Functions, Learning Python
                    </p>
                </td>
                <td>
                    <p>Jul 2015 - Present</p>
                </td>
            </tr>
        </tbody>
    </table>
</Section>