---
import Section from "../layouts/Section.astro"
---

<Section idName="contact" header="Contact">
    <ul>
        <li><strong>Location:</strong> Cambridge, ON</li>
        <li><a href="tel:(519) 980-2710">519.980.2710</a></li>
        <li>
            <a
                href="mailto:thompsoncolinm+cvsite@gmail.com?subject=Hello%20Colin"
                target="_blank">thompsoncolinm@gmail.com</a>
        </li>
        <li>
            <a
                href="https://www.linkedin.com/in/colin-thompson-06b87249"
                target="_blank">LinkedIn</a>
        </li>
        <li>
            <a
                href="https://github.com/thompsoncolinm"
                target="_blank">Github</a>
        </li>
    </ul>
</Section>