---
import Section from "../layouts/Section.astro"
---

<Section idName="education" header="Education">
    <div class="flex flex-col md:flex-row-reverse">
        <div class="w-full md:w-1/5 md:text-right">
            <p><i>March, 2017</i></p>
        </div>
        <div class="w-full md:w-4/5">
            <p><strong>St. Clair College</strong></p>
            <p>
                Advanced Diploma, Internet Applications and Web
                Development
            </p>
            <p>
                <strong>Relevant Coursework:</strong> HTML, CSS, JavaScript, PHP,
                Swift, .Net, XML, JSON, MongoDB, MySQL
            </p>
        </div>
    </div>
    <div class="flex flex-col md:flex-row-reverse">
        <div class="w-full md:w-1/5 md:text-right">
            <p><i>March, 2011</i></p>
        </div>
        <div class="w-full md:w-4/5">
            <p><strong>St. Clair College</strong></p>
            <p>
                Advanced Diploma, Animation, Interactive Technology,
                Video Graphics and Special Effects
            </p>
            <p>
                <strong>Relevant Coursework:</strong> Animation, Photoshop,
                Illustrator
            </p>
        </div>
    </div>
</Section>