---
import Section from "../layouts/Section.astro"
---

<Section idName="education" header="Education">
    <table>
        <tbody>
            <tr>
                <td>
                    <p>St. Clair College</p>
                    <p>
                        Advanced Diploma, Internet Applications and Web
                        Development
                    </p>
                    <p>
                        Relevant Coursework: HTML, CSS, JavaScript, PHP,
                        Swift, .Net, XML, JSON, MongoDB, MySQL
                    </p>
                </td>
                <td>
                    <p>March, 2017</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>St. Clair College</p>
                    <p>
                        Advanced Diploma, Animation, Interactive Technology,
                        Video Graphics and Special Effects
                    </p>
                    <p>
                        Relevant Coursework: Animation, Photoshop,
                        Illustrator
                    </p>
                </td>
                <td>
                    <p>March, 2011</p>
                </td>
            </tr>
        </tbody>
    </table>
</Section>