---
import Section from "../layouts/Section.astro"
---

<Section idName="professional-experience" header="Professional Experience">
    <table>
        <tbody>
            <tr>
                <td>
                    <p>
                        Web Developer &bull; Klick &bull; Permanent
                        Full-time
                    </p>
                    <ul>
                        <li>
                            Executed the development of new websites based
                            on design concepts from Figma, Photoshop, and
                            Sketch
                        </li>
                        <li>
                            Engaged in productive communication and
                            collaboration with project management, creative
                            designers, developers, and QA to optimize
                            project delivery
                        </li>
                        <li>
                            Participated in the successful launch of 3 new
                            websites and numerous important updates for
                            major pharmaceutical companies
                        </li>
                        <li>
                            Managed the maintenance and enhancement of
                            websites utilizing various tech stacks such as
                            .Net, Gatsby, Wagtail, and Wordpress
                        </li>
                    </ul>
                </td>
                <td>
                    <p>May 2021 - Apr 2024 &bull; 3yrs</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Front-End Developer &bull; GS1 Canada &bull;
                        Contract
                    </p>
                    <ul>
                        <li>
                            Partnered with Designers, Project Managers,
                            Developers, and operated within a team structure
                            of 10 individuals to create website templates
                            and provide front-end web development services.
                        </li>
                        <li>
                            Transferred website code and assets to Kentico
                            CMS. This project involved the migration of
                            about 1000 pages with various page elements and
                            components.
                        </li>
                        <li>
                            Applied HTML, CSS, jQuery, Gulp, JavaScript, and
                            Bootstrap Library to aid in migration
                            procedures.
                        </li>
                    </ul>
                </td>
                <td>
                    <p>Apr 2019 - July 2024 &bull; 2yrs 4mos</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Interactive Developer &bull; Rain</p>
                    <ul>
                        <li>
                            Built and animated banner ads and splash pages
                            for reputable clients such as Freedom Mobile and
                            CWT Vacations.
                        </li>
                        <li>
                            Successfully brought creative visions to
                            fruition through the development of live sites.
                        </li>
                        <li>
                            Ensured accuracy in file delivery to clients,
                            meeting size and quality requirements.
                        </li>
                        <li>
                            Leveraged expertise in HTML, CSS, jQuery, GIT,
                            JavaScript, GSAP, and Bootstrap Library for
                            efficient client trafficking.
                        </li>
                    </ul>
                </td>
                <td>
                    <p>Jan 2019 - Mar 2019 &bull; 3 mos</p>
                </td>
            </tr>
        </tbody>
    </table>
</Section>