---
import Section from "../layouts/Section.astro"
---

<Section idName="professional-experience" header="Professional Experience">
    <div class="flex flex-col md:flex-row-reverse">
        <div class="w-full md:w-1/5 md:text-right">
            <p><i>May 2021 - Apr 2024 &bull; 3yrs</i></p>
        </div>
        <div class="w-full md:w-4/5">
            <p>
                <strong>
                    Web Developer &bull; Klick <nobr>
                        &bull; Permanent
                        Full-time
                    </nobr>
                </strong>
            </p>
            <ul>
                <li>
                    <strong>Executed the development</strong> of new websites based
                    on design concepts from Figma, Photoshop, and
                    Sketch.
                </li>
                <li>
                    <strong>
                        Engaged in productive communication and
                        collaboration
                    </strong> with project management, creative
                    designers, developers, and QA to optimize
                    project delivery.
                </li>
                <li>
                    <strong>Participated in the successful launch</strong> of 3 new
                    websites and numerous important updates for
                    major pharmaceutical companies.
                </li>
                <li>
                    <strong>Managed the maintenance and enhancement</strong> of
                    websites utilizing various tech stacks such as
                    .Net, Gatsby, Wagtail, and Wordpress.
                </li>
            </ul>
            <p><b>Sites Maintained</b></p>
            <button id="sitesManagedDropdownButton">Show Sites</button>

            <div id="sitesManagedDropwdown" class="hidden max-h-0">
                <ul>
                    <li><a href="https://www.inpefahcp.com/">https://www.inpefahcp.com/</a> Gatsby/Tailwind</li>
                    <li><a href="https://www.inqovi.com/">https://www.inqovi.com/</a> .NET/Grunt/Sass</li>
                    <li><a href="https://www.lonsurf.com/">https://www.lonsurf.com/</a> .NET/Gulp/Sass</li>
                    <li><a href="https://www.lonsurfhcp.com/">https://www.lonsurfhcp.com/</a> .NET/Gulp/Sass</li>
                    <li><a href="https://www.lytgobi.com/">https://www.lytgobi.com/</a> Wagtail CMS/Python/Tailwind</li>
                    <li><a href="https://www.qinlock.com/">https://www.qinlock.com/</a> .NET/Gulp/Sass</li>
                    <li><a href="https://www.qinlockhcp.com/">https://www.qinlockhcp.com/</a> .NET/Gulp/Sass</li>
                    <li><a href="https://www.taihooncology.com/">https://www.taihooncology.com/</a>  Wagtail CMS/Python/Sass</li>
                    <li><a href="https://www.taihopatientsupport.com/">https://www.taihopatientsupport.com/</a>  .NET/Gulp/Sass</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex flex-col md:flex-row-reverse">
        <div class="w-full md:w-1/5 md:text-right">
            <p><i>Apr 2019 - July 2021 &bull; 2yrs 4mos</i></p>
        </div>
        <div class="w-full md:w-4/5">
            <p>
                <strong>
                    Front-End Developer &bull; GS1 Canada <nobr>
                        &bull;
                        Contract
                    </nobr>
                </strong>
            </p>
            <ul>
                <li>
                    <strong>
                        Partnered with Designers, Project Managers,
                        Developers,
                    </strong> and operated within a team structure
                    of 10 individuals to create website templates
                    and provide front-end web development services.
                </li>
                <li>
                    Transferred website code and assets to Kentico
                    CMS. This project involved the migration of
                    about 1000 pages with various page elements and
                    components.
                </li>
                <li>
                    Applied HTML, CSS, jQuery, Gulp, JavaScript, and
                    Bootstrap Library to aid in migration
                    procedures.
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col md:flex-row-reverse">
        <div class="w-full md:w-1/5 md:text-right">
            <p><i>Jan 2019 - Mar 2019 &bull; 3 mos</i></p>
        </div>
        <div class="w-full md:w-4/5">
            <p><strong>Interactive Developer &bull; Rain</strong></p>
            <ul>
                <li>
                    <strong>Built and animated</strong> banner ads and splash pages
                    for reputable clients such as Freedom Mobile and
                    CWT Vacations.
                </li>
                <li>
                    <strong>
                        Successfully brought creative visions to
                        fruition
                    </strong> through the development of live sites.
                </li>
                <li>
                    Ensured accuracy in file delivery to clients,
                    meeting size and quality requirements.
                </li>
                <li>
                    Leveraged expertise in HTML, CSS, jQuery, GIT,
                    JavaScript, GSAP, and Bootstrap Library for
                    efficient client trafficking.
                </li>
            </ul>
        </div>
    </div>
</Section>

<script is:inline>    
    const sitesManagedDropwdownBtn = document.getElementById("sitesManagedDropdownButton");
    sitesManagedDropwdownBtn.addEventListener("click", () => {
        const sitesManagedDropwdown = document.getElementById("sitesManagedDropwdown");
        if (sitesManagedDropwdown.classList.contains("hidden")) {
            sitesManagedDropwdown.classList.add("max-h-96");
            sitesManagedDropwdown.classList.remove("hidden");
            sitesManagedDropwdownBtn.innerText = "Hide Sites";
        } else {
            sitesManagedDropwdown.classList.remove("max-h-96");
            setTimeout(function() {
                sitesManagedDropwdown.classList.add("hidden");
            }, 500);
            sitesManagedDropwdownBtn.innerText = "Show Sites";
        }
    })
</script>


<style>
    #sitesManagedDropwdown {
        transition: max-height 0.5s;
        overflow: hidden;
        & ul li {
            display: flex;
            & a {
                color: var(--color-primary);
                text-decoration: underline;
                min-height: 48px;
                display: inline-block;
                }
        }
    }