---
import Scripts from "../components/Scripts.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<Scripts />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Roboto';
		src: url('/fonts/Roboto-Regular.ttf') format('truetype');
		font-style: normal;
		font-weight: 400;
		font-display: swap;
	}
	:root {
		--header-height: 61px;
		--header-height-nav-open: 197px;
		--header-height-desktop: 101px;
		--xs: 375px;
		--sm: 576px;
		--md: 960px;
		--lg: 1440px;
		--xl: 1536px;
		--ecru: #bfb48fff;
		--wenge: #564e58ff;
		--cordovan: #904e55ff;
		--isabelline: #f2efe9ff;
		--eerie-black: #252627ff;

		/* Gradient */
		--gradient-top: linear-gradient(0deg, #bfb48fff, #564e58ff, #904e55ff, #f2efe9ff, #252627ff);
		--gradient-right: linear-gradient(90deg, #bfb48fff, #564e58ff, #904e55ff, #f2efe9ff, #252627ff);
		--gradient-bottom: linear-gradient(180deg, #bfb48fff, #564e58ff, #904e55ff, #f2efe9ff, #252627ff);
		--gradient-left: linear-gradient(270deg, #bfb48fff, #564e58ff, #904e55ff, #f2efe9ff, #252627ff);
		--gradient-top-right: linear-gradient(45deg, #bfb48fff, #564e58ff, #904e55ff, #f2efe9ff, #252627ff);
		--gradient-bottom-right: linear-gradient(135deg, #bfb48fff, #564e58ff, #904e55ff, #f2efe9ff, #252627ff);
		--gradient-top-left: linear-gradient(225deg, #bfb48fff, #564e58ff, #904e55ff, #f2efe9ff, #252627ff);
		--gradient-bottom-left: linear-gradient(315deg, #bfb48fff, #564e58ff, #904e55ff, #f2efe9ff, #252627ff);
		--gradient-radial: radial-gradient(#bfb48fff, #564e58ff, #904e55ff, #f2efe9ff, #252627ff);
	}
	
	html, body {
		margin: 0;
		padding: 0;
		scroll-padding-top: var(--header-height-nav-open);
		@media screen and (min-width: 960px) {
			scroll-padding-top: var(--header-height-desktop);	
		}
	}
	h1 {
		font-size: 2rem;
	}
	.highlight {
		background-color: var(--isabelline);
		position: absolute;
		z-index: -1;
		transition: all 0.3s ease;
	}
</style>
