---
import Scripts from "../components/Scripts.astro";
interface Props {
	header: string;
	idName: string;
}

const { header, idName } = Astro.props;
---

<section id={idName}>
    <h2>{header}</h2>
    <slot />
</section>
<style>
    section {
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 4rem;
        & h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
    }
</style>
