---
import Scripts from "../components/Scripts.astro";
interface Props {
	header: string;
	idName: string;
}

const { header, idName } = Astro.props;
---

<section id={idName}>
    <h2>{header}</h2>
    <slot />
</section>
<style>
    section {
        padding: auto 1.5rem;
        & h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
    }
</style>
